<div id="toolbar" class="primary-color z-depth-1">
    <div class="open-left" ng-click="returnLink()">
            <i class="ion-arrow-left-c"></i>
    </div>
    <h1 class="title">NewDish</h1>

    <div class="open-right" style="visibility:hidden">
            <i class="ion-android-person"></i>
    </div>
</div>
<!-- End of Toolbar -->








<div class="news">
  <div ng-repeat="rest in restaurants">
    <div class="media-top-object animated fadeinright z-depth-1 delay-2" style="padding:5px 5px;" ng-click="showRestaurant(rest)">
      <div class="media-left" style="width:auto;">
        <img style="width:150px;height:100px;" ng-src="{{StorageUrl}}/eatery-s/{{rest.imgMaster[0]}}" alt="">
      </div>
      <div class="media-body" style="padding-bottom: 8px;padding-top: 8px;">
        <h4 class="news-title" style="margin:0px">
          <div>{{rest.name}}</div>
        </h4>
        <p class="small">{{rest.locality +" "+rest.city}}</p>
        <p class="small" style="color:#f39c12">{{rest.cuisine}}</p>
        <p class="small" ng-hide="rest.dealConditions.length==0">
          <span class="deals">{{rest.dealConditions.length}} deals available</span>
        </p>

      </div>
    </div>
  </div>
</div>