    <!-- Toolbar -->
    <div id="toolbar" class="primary-color z-depth-1">
        <div class="open-left" ng-click="returnLink()" >
          <i class="ion-arrow-left-c"></i>
        </div>
        <h1 class="title">NewDish</h1>
        
        <div class="open-right"  style="visibility:hidden" >
          <i class="ion-android-person"></i>
        </div>
      </div>
      <!-- End of Toolbar -->

 <!--Search Tool-->
      <div style="position:fixed;width:100%;z-index: 3">
          <nav>
            <div class="nav-wrapper">
             
                <div class="input-field">
                  <input id="simple" type="search" placeholder="Search..." required="" style="margin:0px;font-size:1.8rem">
                  <label for="simple" class="active"><i style="padding-left:0.4em" class="ion-android-search black-text text-lighten-3"></i></label>
                  <!-- <i class="ion-android-close"></i> -->
                </div>
              
            </div>
          </nav>
        </div>

		
        
    <div class="news">
     
        


          <div id="topRecommendation" class="container" style="padding-top:70px;">
            <h4 style="margin-bottom:1.1rem;">Top Recommended</h4>
            <div class="row">

              <div class="topBox col s6">
                <div class="innerBox">
                <img src="http://img.allw.mn/content/food/2013/06/1_italian-cuisine.jpg" class="imageBox" alt="">
                <div class="overlayBox"></div>
                <div class="overlaytextBox">Chinese</div>
                </div>
              </div>

              <div class="topBox col s6">
                  <div class="innerBox">
                  <img src="http://img.allw.mn/content/food/2013/06/1_italian-cuisine.jpg" class="imageBox" alt="">
                  <div class="overlayBox"></div>
                  <div class="overlaytextBox">Chinese</div>
                  </div>
                </div>

                <div class="topBox col s6">
                    <div class="innerBox">
                    <img src="http://img.allw.mn/content/food/2013/06/1_italian-cuisine.jpg" class="imageBox" alt="">
                    <div class="overlayBox"></div>
                    <div class="overlaytextBox">Chinese</div>
                    </div>
                  </div>

                  <div class="topBox col s6">
                      <div class="innerBox">
                      <img src="http://img.allw.mn/content/food/2013/06/1_italian-cuisine.jpg" class="imageBox" alt="">
                      <div class="overlayBox"></div>
                      <div class="overlaytextBox">Chinese</div>
                      </div>
                    </div>

                    <div class="topBox col s6">
                        <div class="innerBox">
                        <img src="http://img.allw.mn/content/food/2013/06/1_italian-cuisine.jpg" class="imageBox" alt="">
                        <div class="overlayBox"></div>
                        <div class="overlaytextBox">Chinese</div>
                        </div>
                      </div>

                      <div class="topBox col s6">
                          <div class="innerBox">
                          <img src="http://img.allw.mn/content/food/2013/06/1_italian-cuisine.jpg" class="imageBox" alt="">
                          <div class="overlayBox"></div>
                          <div class="overlaytextBox">Chinese</div>
                          </div>
                        </div>

                        <div class="topBox col s6">
                            <div class="innerBox">
                            <img src="http://img.allw.mn/content/food/2013/06/1_italian-cuisine.jpg" class="imageBox" alt="">
                            <div class="overlayBox"></div>
                            <div class="overlaytextBox">Chinese</div>
                            </div>
                          </div>

                          <div class="topBox col s6">
                              <div class="innerBox">
                              <img src="http://img.allw.mn/content/food/2013/06/1_italian-cuisine.jpg" class="imageBox" alt="">
                              <div class="overlayBox"></div>
                              <div class="overlaytextBox">Chinese</div>
                              </div>
                            </div>

              
              
            </div>
         </div>


           
        <!-- <div ng-repeat="obj in best">
          {{obj}}
        </div>
        <br>
        <br>
        <br>
          <div ng-repeat="obj in best2">
                {{obj}}
          </div> -->
  
    </div>
