<div id="toolbar" class="primary-color z-depth-1">
    <div class="open-left" ng-click="returnLink()">
      <i class="ion-arrow-left-c"></i>
    </div>
    <h1 class="title">NewDish</h1>
  
    <div class="open-right" style="visibility:hidden">
      <i class="ion-android-person"></i>
    </div>
  </div>
  <!-- End of Toolbar -->

  
  <div class="">
      <div style="color:yellow;position: relative;">
    <!-- Footer -->
    <footer class="page-footer primary-color" style="position: fixed">
            <div class="section center" style="height:1000px;max-height:100%">
              <h2 class="heading white-text">Contact Us</h2>
              <p class="center-align grey-text text-lighten-4">Please send us the mail for any query or any furthur assistance.<br><a href="mailto:person@example.com">mail@newdish.in</a></p>
              <div class="footer-icons">
                <a href="https://www.facebook.com/newdish.in/"><i class="ion-social-facebook m-10 white-text"></i></a>
                <a href="https://twitter.com/NewDish_in"><i class="ion-social-twitter m-10 white-text"></i></a>
                <a href="https://www.instagram.com/newdish.in/?hl=en"><i class="ion-social-instagram m-10 white-text"></i></a>
              </div>
            </div>
          </footer>

        </div>

</div>